.illusion-number {
    position: relative;
    font-size: 50px;
    padding: 0.5em 1em;
    width: 3em;
    height: 5em;
    overflow: hidden;
    background-color: #000000;
    /* DEBUG */
    /*perspective: 500px;*/ }
    .illusion-number .surface {
        position: absolute;
        width: 3em;
        height: 5em; }
        .illusion-number .surface div {
            position: absolute;
            /* fix gap between tiles*/
            width: 1.01em;
            height: 1.01em;
            background-color: gray;
            margin: 0;
            padding: 0;
            -webkit-animation-duration: 0.95s;
                    animation-duration: 0.95s;
            -webkit-animation-iteration-count: 1;
                    animation-iteration-count: 1;
            -webkit-animation-fill-mode: forwards;
                    animation-fill-mode: forwards;
            -webkit-animation-timing-function: ease;
                    animation-timing-function: ease; }
        .illusion-number .surface .tile-x-0 {
            top: 0em; }
        .illusion-number .surface .tile-x-1 {
            top: 1em; }
        .illusion-number .surface .tile-x-2 {
            top: 2em; }
        .illusion-number .surface .tile-x-3 {
            top: 3em; }
        .illusion-number .surface .tile-x-4 {
            top: 4em; }
        .illusion-number .surface .tile-y-0 {
            left: 0em;
            -webkit-transform-origin: 1.5em 0 0;
                -ms-transform-origin: 1.5em 0 0;
                    transform-origin: 1.5em 0 0; }
        .illusion-number .surface .tile-y-1 {
            left: 1em;
            -webkit-transform-origin: 0.5em 0 0;
                -ms-transform-origin: 0.5em 0 0;
                    transform-origin: 0.5em 0 0; }
        .illusion-number .surface .tile-y-2 {
            left: 2em;
            -webkit-transform-origin: -0.5em 0 0;
                -ms-transform-origin: -0.5em 0 0;
                    transform-origin: -0.5em 0 0; }

@-webkit-keyframes illusion-number-animation-out-1 {
    0% {
        -webkit-transform: rotateY(0) translateZ(1.5em);
                transform: rotateY(0) translateZ(1.5em);
        background-color: #dcdcdc; }
    95% {
        -webkit-transform: rotateY(-90deg) translateZ(1.5em);
                transform: rotateY(-90deg) translateZ(1.5em);
        background-color: #707070; }
    100% {
        -webkit-transform: rotateY(-90deg) translateZ(1.5em);
                transform: rotateY(-90deg) translateZ(1.5em);
        background-color: #707070; } }

@keyframes illusion-number-animation-out-1 {
    0% {
        -webkit-transform: rotateY(0) translateZ(1.5em);
                transform: rotateY(0) translateZ(1.5em);
        background-color: #dcdcdc; }
    95% {
        -webkit-transform: rotateY(-90deg) translateZ(1.5em);
                transform: rotateY(-90deg) translateZ(1.5em);
        background-color: #707070; }
    100% {
        -webkit-transform: rotateY(-90deg) translateZ(1.5em);
                transform: rotateY(-90deg) translateZ(1.5em);
        background-color: #707070; } }

@-webkit-keyframes illusion-number-animation-in-1 {
    0% {
        -webkit-transform: rotateY(90deg) translateZ(1.5em);
                transform: rotateY(90deg) translateZ(1.5em);
        background-color: #dcdcdc; }
    95% {
        -webkit-transform: rotateY(0) translateZ(1.5em);
                transform: rotateY(0) translateZ(1.5em);
        background-color: #dcdcdc; }
    100% {
        -webkit-transform: rotateY(0) translateZ(1.5em);
                transform: rotateY(0) translateZ(1.5em);
        background-color: #dcdcdc; } }

@keyframes illusion-number-animation-in-1 {
    0% {
        -webkit-transform: rotateY(90deg) translateZ(1.5em);
                transform: rotateY(90deg) translateZ(1.5em);
        background-color: #dcdcdc; }
    95% {
        -webkit-transform: rotateY(0) translateZ(1.5em);
                transform: rotateY(0) translateZ(1.5em);
        background-color: #dcdcdc; }
    100% {
        -webkit-transform: rotateY(0) translateZ(1.5em);
                transform: rotateY(0) translateZ(1.5em);
        background-color: #dcdcdc; } }

@-webkit-keyframes illusion-number-animation-out-2 {
    0% {
        -webkit-transform: rotateY(0) translateZ(0.5em);
                transform: rotateY(0) translateZ(0.5em);
        background-color: #dcdcdc; }
    95% {
        -webkit-transform: rotateY(-90deg) translateZ(0.5em);
                transform: rotateY(-90deg) translateZ(0.5em);
        background-color: #707070; }
    100% {
        -webkit-transform: rotateY(-90deg) translateZ(0.5em);
                transform: rotateY(-90deg) translateZ(0.5em);
        background-color: #707070; } }

@keyframes illusion-number-animation-out-2 {
    0% {
        -webkit-transform: rotateY(0) translateZ(0.5em);
                transform: rotateY(0) translateZ(0.5em);
        background-color: #dcdcdc; }
    95% {
        -webkit-transform: rotateY(-90deg) translateZ(0.5em);
                transform: rotateY(-90deg) translateZ(0.5em);
        background-color: #707070; }
    100% {
        -webkit-transform: rotateY(-90deg) translateZ(0.5em);
                transform: rotateY(-90deg) translateZ(0.5em);
        background-color: #707070; } }

@-webkit-keyframes illusion-number-animation-in-2 {
    0% {
        -webkit-transform: rotateY(90deg) translateZ(0.5em);
                transform: rotateY(90deg) translateZ(0.5em);
        background-color: #dcdcdc; }
    95% {
        -webkit-transform: rotateY(0) translateZ(0.5em);
                transform: rotateY(0) translateZ(0.5em);
        background-color: #dcdcdc; }
    100% {
        -webkit-transform: rotateY(0) translateZ(0.5em);
                transform: rotateY(0) translateZ(0.5em);
        background-color: #dcdcdc; } }

@keyframes illusion-number-animation-in-2 {
    0% {
        -webkit-transform: rotateY(90deg) translateZ(0.5em);
                transform: rotateY(90deg) translateZ(0.5em);
        background-color: #dcdcdc; }
    95% {
        -webkit-transform: rotateY(0) translateZ(0.5em);
                transform: rotateY(0) translateZ(0.5em);
        background-color: #dcdcdc; }
    100% {
        -webkit-transform: rotateY(0) translateZ(0.5em);
                transform: rotateY(0) translateZ(0.5em);
        background-color: #dcdcdc; } }

@-webkit-keyframes illusion-number-animation-out-3 {
    0% {
        -webkit-transform: rotateY(0) translateZ(-0.5em);
                transform: rotateY(0) translateZ(-0.5em);
        background-color: #dcdcdc; }
    95% {
        -webkit-transform: rotateY(-90deg) translateZ(-0.5em);
                transform: rotateY(-90deg) translateZ(-0.5em);
        background-color: #707070; }
    100% {
        -webkit-transform: rotateY(-90deg) translateZ(-0.5em);
                transform: rotateY(-90deg) translateZ(-0.5em);
        background-color: #707070; } }

@keyframes illusion-number-animation-out-3 {
    0% {
        -webkit-transform: rotateY(0) translateZ(-0.5em);
                transform: rotateY(0) translateZ(-0.5em);
        background-color: #dcdcdc; }
    95% {
        -webkit-transform: rotateY(-90deg) translateZ(-0.5em);
                transform: rotateY(-90deg) translateZ(-0.5em);
        background-color: #707070; }
    100% {
        -webkit-transform: rotateY(-90deg) translateZ(-0.5em);
                transform: rotateY(-90deg) translateZ(-0.5em);
        background-color: #707070; } }

@-webkit-keyframes illusion-number-animation-in-3 {
    0% {
        -webkit-transform: rotateY(90deg) translateZ(-0.5em);
                transform: rotateY(90deg) translateZ(-0.5em);
        background-color: #dcdcdc; }
    95% {
        -webkit-transform: rotateY(0) translateZ(-0.5em);
                transform: rotateY(0) translateZ(-0.5em);
        background-color: #dcdcdc; }
    100% {
        -webkit-transform: rotateY(0) translateZ(-0.5em);
                transform: rotateY(0) translateZ(-0.5em);
        background-color: #dcdcdc; } }

@keyframes illusion-number-animation-in-3 {
    0% {
        -webkit-transform: rotateY(90deg) translateZ(-0.5em);
                transform: rotateY(90deg) translateZ(-0.5em);
        background-color: #dcdcdc; }
    95% {
        -webkit-transform: rotateY(0) translateZ(-0.5em);
                transform: rotateY(0) translateZ(-0.5em);
        background-color: #dcdcdc; }
    100% {
        -webkit-transform: rotateY(0) translateZ(-0.5em);
                transform: rotateY(0) translateZ(-0.5em);
        background-color: #dcdcdc; } }
